<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64575793264-d88tu70em19ns4thfos6ml1pr42oloq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64575793264-d88tu70em19ns4thfos6ml1pr42oloq4</string>
	<key>API_KEY</key>
	<string>AIzaSyCujxh8cp4eDBceoKgOKsaooqT8xReWg10</string>
	<key>GCM_SENDER_ID</key>
	<string>64575793264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deforeturn.MyFirebaseDBExample</string>
	<key>PROJECT_ID</key>
	<string>myfirebasedbexaple</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirebasedbexaple.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64575793264:ios:d4c2c67d7cf265e67b6cb5</string>
</dict>
</plist>